body {
    background-color: #f6f8fb;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
width: 120px;
height: auto;
display: block;
}
.menu-bar a{
    justify-content: space-between;
    
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin-left: 20px;
}
.menu a , .active {
    color: #333;
    font-weight: bold;
}
.nav-bar a:hover {
  color: #f26a2e;
}