* { 
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-color: #f6f8fb;
    margin: 60px auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1100px;
    margin: 60px auto;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px;
    height: auto;
    display: block;
}
.menu-bar a{
    justify-content: space-between;
    
    align-items: center;
    text-decoration: none;
    color: #302e2e;
    font-size: 20px;
    margin-left: 20px;
    
}
.menu a, .active {
    color: #222020;
    font-weight: bold;
}
.nav-bar a:hover {
  color: #f26a2e;
}

.hero-section{
    display: flex;
    align-items: center;
    margin: 60px auto;
    max-width: 1100px;

}
.hero-container{
    width: 50%;
}
.hero-container h1{
    font-size: 45px; 

}
.hero-container .black {
    color: #000;
}
.hero-container .orange {
    color: #ff6a00;
}
.hero-container{
    color: #777;
}
.hero-image {
    width: 50%;
    text-align: right;
}

.plant-container{
    max-width: 1100px;
    margin: 60px auto;
    text-align: center;
}

.plant-container h1 {
    margin-bottom: 15px;
    font-size: 50px;
}
.plant-container h1 span{
    color: #E95A08;

}
.plant-description {
    color: #777;
    font-size: 14px;
    margin-bottom: 40px;
}
.plant-card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.plant-card{
    background: #fff;
    padding: 20px;

}

.plant-card img {
    width: 100%;
}
.plant-card h3 {
    margin: 10px 0 5px;
    font-size: 22px;
}
.plant-card, .price {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}
.plant-card button {
    width: 100%;
    align-items: center;
    background: #ff6a00;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    
}
.plant-card button a{
    text-decoration: none;
    color: white;
    

}
.plant-card  button:hover {
  background-color: #e85d00;
}
.plant-lover-container{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    max-width: 1100px;
    margin: 60px auto;
}
.lover-img{
    width: 60%;
    position: relative;

}
.lover-img img{
    display: block;
    width: 100%;
}
.trusted-badge{
    position: absolute;
    top: -100px;
    right: -20%;
    width: 250px;

}
.lover-content{
    width: 60%;
}
.lover-content h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
.lover-content ul{
    list-style: disc;
    font-size: 18px;
    padding-left: 20px;
    color: #777;
    line-height: 1.7;
}
.latest-deal{
    text-align: center;
    padding: 50px 0;
     gap: 30px;
    max-width: 1100px;
    margin: 60px auto;
    
}
.latest-deal h1{
    font-size: 50px;
    color: #000;
}
.latest-deal span{
    color:#E95A08 ;
}
.latest-deal p{
    font-size: 22px;
    color: #777;
}
.deal-grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    margin-top: 60px;
}
.left-small-grid{
    display: grid;
    gap: 25px;
    
}
.right-big-grid h2{
    font-size: 40px;
    
}

.deal-card {
    position: relative;
    overflow: hidden;
}
.deal-card img {
    width: 100%;
    height: 95%;
    display: block;
    object-fit: cover;
    border-radius: 25px;
}
.deal-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    inset: 0;
    font-size: 18px;

}
.deal-overlay span {
    color: #fff;
    margin-top: 5px;
    font-size: 25px;
}
.deal-overlay p {
    margin-bottom: 0%;   
    font-weight: bold; 
}
.newsletter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 90px 20px;
    

}
.newsletter-content h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.newsletter-form{
    display: flex;
    text-align: left;
    width: 800px;
    background-color: white;
    border: 5px;
    padding: 0px;
    
}
.newsletter-form input{
    flex-grow: 1;
    border: none;
    padding: 15px 40px;
    outline: none;
    font-size: 16px;
}
.newsletter-form button{
    background-color: #E95A08;
    border: none;
    color: white;
    padding: 0px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px ;

}
.footer-section{
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    justify-content: space-between;
    gap: 40px;
    align-items: start;
    
    padding: 60px 20px;
    font-size: 15px;
    max-width: 1100px;
    margin: 60px auto;
}
.sibralogo-footer{
    width: 250px;
    height: 100%;
    display: block;
    margin-top: -40px;

}
.footer-grid{
    column-gap: 10px;
}
.footer-grid p{
    font-size: 14px;
    margin-top: -30px;
    color: #777;
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    color: #777;
    font-size: 16px;
    gap: 5px;
    margin-top: 25px;
    cursor: pointer;
}
.social-media img{
    display: inline-block;
    justify-content: flex-start;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 35px;
    font-weight: bold;
    border-radius: 50%;
    padding-top: 0px;
}


@media screen and (max-width: 768px) {
    
    .hero-section {
        flex-direction: column-reverse;
        text-align: left;
        padding: 0 20px;
        text-align: left;
    }
    
    .hero-image {
        width: 100%;
        height: 100%;
        margin: 0px;
       
        text-align: left;
    }
    .hero-image img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

    .hero-container {
        width: 100%;
        margin-top: 20px;
    }
    .hero-container h1 {
        font-size: 30px;
        line-height: 1.1;
    }
    .hero-container p{
        font-size: 12px;
        color: #777;
    }
    .plant-container{
        text-align: center;
        margin: 20px;
        padding: 0 ;
    }
    .plant-card-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 20px;
        
    }
    .plant-container h1 {
        font-size: 20px;
    }

    .plant-card h3 {
        font-size: 16px;
    }

    .plant-lover-container{
        flex-direction: column;
        align-items: center;
    }

   .trusted-badge 
   { 
    display: none; 
}
    .plant-lover-container {
    flex-direction: column;
    gap: 30px;
    margin-left: 25px;
    margin-right: 25px ;
  }

  .lover-img {
    width: 100%;
  }

  .lover-img img {
    width: 100%;
    height: 100%;        
    object-fit: cover;   
    background: #fff;
  }

  .lover-content {
    width: 100%;
    padding: 0px 10px;
    margin-top: 0;
  }

  .lover-content h2 {
    font-size: 26px;
  }

  .lover-content ul {
    font-size: 15px;
    line-height: 1.6;
    padding-left: 18px;
    align-items: center;
  }

}
